spring:
  datasource:
    url: jdbc:postgresql://postgresql:5432/shopping_seller_db
    username: ${DB_USER:laze}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true
  kafka:
    bootstrap-servers: kafka:29092
    consumer:
      group-id: shopping-seller-service
      auto-offset-reset: earliest
    properties:
      schema.registry.url: http://schema-registry:8081
  data:
    redis:
      host: redis
      port: 6379

springdoc:
  swagger-ui:
    enabled: true

management:
  tracing:
    sampling:
      probability: 1.0
  zipkin:
    tracing:
      endpoint: http://zipkin:9411/api/v2/spans
